<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>edytuj</title>
</head>
<body>
<form th:method="POST" th:object="${book}" th:action="@{/addBook}">
  <div>Tytuł: <label>
    <input type="text" th:field="*{title}"/>
    <p th:if="${#fields.hasErrors('title')}" th:each="err :${#fields.errors('title')}" th:text="${err}"></p>
  </label></div>
  <div>Autor: <label>
    <input type="text" th:field="*{author}"/>
    <p th:if="${#fields.hasErrors('author')}" th:each="err :${#fields.errors('author')}" th:text="${err}"></p>
  </label></div>
  <div>Opis: <label>
    <input type="text" th:field="*{description}"/>
    <p th:if="${#fields.hasErrors('description')}" th:each="err :${#fields.errors('description')}" th:text="${err}"></p>
  </label></div>
  <div>data wydania: <label>
    <input type="date" th:field="*{release}"/>
    <p th:if="${#fields.hasErrors('release')}" th:each="err :${#fields.errors('release')}" th:text="${err}"></p>
  </label></div>
  <div>cena: <label>
    <input type="text" th:field="*{price}"/>
    <p th:if="${#fields.hasErrors('price')}" th:each="err :${#fields.errors('price')}" th:text="${err}"></p>
  </label></div>
  <div>Bestseller: <label>
    <input type="radio" th:field="*{bestseller}" value="1">Tak
  </label>
    <label>
      <input type="radio" th:field="*{bestseller}" value="0">Nie
    </label></div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Genre</label>
    <div class="col-sm-10">
      <div th:each="genres:${name}" class="custom-control custom-checkbox">
        <label>
          <input type="checkbox" th:field="*{genres}" th:value="${genre.id}" class="custom-control-input" th:id="${dziedzina}" >
        </label>
        <label class="custom-control-label" th:for="${dziedzina}" th:text="${dziedzina.name}"></label>
      </div>
      <small style="color: red" th:if="${#fields.hasErrors('genres')}" th:each="err : ${#fields.errors('genres')}" th:text="${err}"/>
    </div>
  </div>
  <!--<div>Rozmiar (szerokość x wysokosć x liczba stron): <label>
    <input type="text" th:field="*{rozmiar}">
    <p th:if="${#fields.hasErrors('rozmiar')}" th:each="err :${#fields.errors('rozmiar')}" th:text="${err}"></p>
  </label></div>-->

  <div><label><input type="submit" value="send form"></label></div>
</form>
</body>
</html>